h1 {
	color: #03045E;
	font-size: 37px;
	font-family: 'Spartan', sans-serif;
	letter-spacing: 3px;
	text-align: center;
}

h2 {
	color: #023E8A;
	font-size: 25px;
	font-family: 'Spartan', sans-serif;
	text-align: center;
}

h3 {
	color: #0077B6;
	font-size: 19px;
	font-family: 'Spartan', sans-serif;
	font-weight: lighter;
	text-align: center;
}

body {
	font-family: 'Gaegu', cursive;
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
	background-image: url("images/korea.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	line-height: 1.6;
}

p {
	text-justify: center;
}


a {
	color: #00B4D8;
	text-decoration: none;
	transition: color 0.3s ease;
	letter-spacing: 2px;
	font-weight: 600;
}

a:hover {
	color: orange;
}


#pp {border-radius: 50%;
}

#ek {width: 190px;
	border-radius: 50%;
	box-shadow: 5px 5px 3px rgba(173, 232, 244, 0.3);
}

#alma {
	border-radius: 50%;
	box-shadow: 5px 5px 3px rgba(173, 232, 244, 0.3);

}
#btn-marroon{
	background-color: #CAF0F8; 
  	border: none;
 	border-radius: 10px;
  	color: #0096C7;
 	padding: 4px 8px;
  	box-shadow: 5px 5px 3px rgba(173, 232, 244, 0.5);
  	text-decoration: bold;
  	display: inline-block;

}
#op-small{

	font-size: 18px;
	font-style: italic;
	padding-right: 90px;
	padding-left: 90px;
}

div { 
	margin: 80px;
	padding: 80px;
	border: 1.5px groove #CAF0F8;
	box-shadow: 2px 10px 20px orange;
	border-radius: 20px;
}


.div1 {
	background-color: rgba(171, 196, 255, 0.95);

}
.div2 {
	box-shadow: none;
	border: none;
		}

.btn-red {
  background-color: #C1D3FE ; 
  border: none;
  border-radius: 10px;
  color: #CAF0F8;
  padding: 4px 8px;
  box-shadow: 5px 5px 3px rgba(202, 240, 248, 0.5);
  text-decoration: bold;
  font-size: 20px;
  text-align: justify;
  display: inline-block;
}


@media (max-width: 960px) {
  .div2 {
    width: 700px;
  }
}

@media (max-width: 720px) {
	.div2 {
		width: 500px;
	}
}

@media (max-width: 540px) {

	.div2 {
		width: 360px;
	}
}